<div class="container mt-5 d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="mt-5">Hello <span class="myColor">{{reporter.name}}</span></h1>
    <div class="d-flex mt-5">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-dark" for="btnradio1"><a routerLink='/addnews'>Add News</a></label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-dark" for="btnradio3"><a routerLink='/news'>View News</a></label>
          </div>

    </div>
</div>
