<div class="container mt-5">
    <form #myForm='ngForm' (ngSubmit)='login(myForm.value)'>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="example@email.com"
          name="email"
          ngModel
          #email='ngModel'
          required
          email
        />
        <div class="errors mt-2" *ngIf="email.touched && email.invalid">
          <div *ngIf='email.errors?.required'> * Email is Required Please Enter Your Email *</div>
          <div *ngIf='email.errors?.email'> * example@email.com *</div>
      </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter Your Password"
          ngModel
          #password='ngModel'
          required
          minlength="8"
        />
        <div class="errors mt-2" *ngIf="password.touched && password.invalid">
          <div *ngIf='password.errors?.required'> * Password is Required *</div>
          <div *ngIf='password.errors?.minlength'> * Password Length Must Be At Least {{password.errors?.minlength.requiredLength}} Letters</div>
      </div>
      </div>
      <div class="errors mt-2 mb-4" *ngIf="emailUsed"> * Invalid Email or Password *</div>
      <button type="submit" class="btn btn-secondary mt-5 mb-4">Login</button>
    </form>
  </div>
  
