<div class="white position-sticky top-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="test">
      <div class="container-fluid">
        <button class="navbar-toggler text-muted" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-muted"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-light">
            <li class="nav-item">
              <a class="nav-link white" routerLink="">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" routerLink="signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" routerLink="about">About</a>
            </li>
            <li class="nav-item end-0">
              <a class="nav-link white" routerLink="" (click)='logout()'>Logout</a>
            </li>
            <li class="nav-item end-0">
              <a class="nav-link white" routerLink="" (click)='logoutAll()'>Logout from all devices</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  